@model IEnumerable<ShoppingCartMVC.Models.Product>

@{
    ViewBag.Title = "Index";
}



@section PageHeade
{
    <style>
        div.carousel-inner img {
            width: 100%;
            height: 580px;
        }
        img.card-img-top {
            width: 100%;
            height: 300px;
        }
    </style>
}
@Html.Action("ShowBanner", "Index")
</br>

</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <div class="row">
                        @foreach(var item in Model)
                        {


                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="card h-100">
                                    <a href="@Url.Action("ProductPage", "ProductPage", new {Id=item.P_num })"><img class="card-img-top" src="~/@item.P_Image" alt=""></a>
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <a href="@Url.Action("ProductPage", "ProductPage", new {Id=item.P_num })">@item.P_Name</a>
                                        </h4>
                                        <h5>@item.P_Price</h5>
                                        <p class="card-text">@item.P_Description</p>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
</div>