@model ShoppingCartMVC.Models.Member

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.M_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M_Account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M_Account)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M_Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M_Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M_Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M_Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M_Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M_Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M_Address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.M_num }) |
    @Html.ActionLink("Back to List", "Index")
</p>
