@model IEnumerable<ShoppingCartMVC.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.P_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P_Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P_Dimension)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P_Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P_HasMultipleStyle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductActivity.PActivity_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductClassify.PC_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.P_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P_Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P_Dimension)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P_Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P_HasMultipleStyle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductActivity.PActivity_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductClassify.PC_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.P_num }) |
            @Html.ActionLink("Details", "Details", new { id=item.P_num }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.P_num })
        </td>
    </tr>
}

</table>
