@model  IEnumerable<ShoppingCartMVC.Models.Product>
@section ProductPage
{
    <style>

        div.col-md-8 image {
            width: 750px;
            height: 500px;
        }
    </style>
}
<!-- Page Content -->
    <div class="container">
        <form action="@Url.Action("Add","Cart")" method="post">
            @foreach (var item in Model)
            {
                <!-- Portfolio Item Heading -->
                <h1 class="my-4"></h1>
                <!-- Portfolio Item Row -->
                <div class="row">


                    <div class="col-md-8">
                        <img class="img-fluid" src="~/@item.P_Image" alt="">
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="P_num" value="@item.P_num" style="display: none;" />
                        <h3 class="my-3"> @item.P_Name)</h3>
                        <p>@item.P_Description)</p>
                        <h3 class="my-3">Project Details</h3>
                        <ul>
                            <li>@item.P_Dimension)</li>
                            <li>@item.P_Price)</li>


                        </ul>
                        <p>@Html.Action("Style", "ProductPage", new { ProductId = item.P_num })</p>
                        <p><input type="submit" value="加入購物車" class="btn btn-default" /></p>
                    </div>





                </div>
                <!-- /.row -->
                <!-- Related Projects Row -->
                <h3 class="my-4">Related Projects</h3>
                <div class="row">
                    @Html.Action("ImgList", "ProductPage", new { Productd = item.P_num })

                </div>


                <!-- /.row -->


            }
        </form>
    </div>
    <!-- /.container -->